* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
}

main {
  flex-basis: 100%;
  height: 95%;
  margin: 0;
}

#player1 {

}

.player-tile {
  width: 100%;
  height: 95%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}

#gameboard1 {

}

.game-board {
  width: 100%;
  height: 95%;
  padding: 10px 5px;

}

#grid1 {
  /* width: calc(100% - 10px);
  height: calc(100% - 20px); */
  width: 100%;
  height: 100%;
  /* margin: 10px 5px; */

}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 0.5px solid black;
  background: rgba(100, 100, 100, 0.1);
  max-width: 450px;
}

.grid-item {
  /* background: rgba(0, 0, 0, 0.1); */
  flex-basis: 10%;
  height: 5%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.shape {
  /* background: grey; */
  /* border: 2px solid black; */
  border: none;
  /* transition: 1s; */
}

.shape-inactive {
  background: rgba(0, 0, 0, 0.2);
  /* border: 2px solid black; */
  border: none;
  border-radius: 2px;
}

.completed-row {
  display: none;
  transition: 1s;
}

.message {
  display: none;
  position: absolute;
  margin: 0;
  width: 100%;
  /* height: 50px; */
  height: 0;
  top: calc(47.5% - 50px);
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  z-index: 2;
}

aside {
  flex-basis: 100%;
  height: 5%;
  margin: 0;
  /* padding: 5px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.shape-queue {
  display: none;
}

.score-tile {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-basis: 100%;
}

#player2 {
  display: none;
}

footer {
  flex-basis: 100%;
  height: 5%;
  margin: 0;
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

footer > p {
  color: rgba(0, 0, 0, 0.5);
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.yellow {
  background: yellow;
}


 /* TABLETS */
@media screen and (min-width: 650px) {
  body {

  }

  main {

  }

  #player1 {

  }

  #gameboard1 {
    min-width: 450px;
    flex: 2;
  }

  #grid1 {
  }

  .message {

  }

  aside {
    /* flex-basis: 50%; */
    flex: 1;
    flex-flow: column wrap;
    padding: 10px 5px;
  }

  .shape-queue {
    display: flex;
    flex-flow: column wrap;
    height: 300px;
    width: 50px;
  }

  .score-tile {
  }

  footer {
  }

  footer > p {
  }
}

/* DESKTOPS */
@media screen and (min-width: 1024px) {
 body {
     background: green;
   }
}
