* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  font-family: 'VT323', monospace;
  /* background-color: #DFDBE5; */
  background: linear-gradient(270deg, #40e0d0, #0000ff, #ffa500, #ffff00, #008000, #800080, #ff0000);
background-size: 1400% 1400%;

animation: slide-background 60s /*ease*/ infinite;
}
@keyframes slide-background {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
}

main {
  flex-basis: 100%;
  height: 97%;
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
.bgm {
  display: flex;
  justify-content: flex-end;
}
#mute {
  display: none;
}

#load-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 50%;
  /* max-width: 450px; */
  max-width: 80vw;
  height: 100%;
}

#load-page h1 {
  font-size: 36px;
}

#load-page p {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

#load-page small {
  font-size: 18px;
}


#start-game {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#load-page > div > p {
  flex-basis: 100%;
}

#instructions {
  display: none;
}

#high-scores {
  display: none;
  flex-flow: column wrap;
  justify-content: space-around;
}

#start1Player {
  display: none;
}

#start2Player {
  display: none;
}

#player1 {
  display: none;
}

.player-tile {
  width: 100%;
  height: 95%;
  /* display: flex; */
  flex-flow: row wrap;
  align-items: flex-end;
  /* display: none; */
}

#gameboard1 {

}

.game-board {
  width: 100%;
  height: 95%;
  padding: 10px 5px;

}

#grid1 {
  /* width: calc(100% - 10px);
  height: calc(100% - 20px); */

  /* margin: 10px 5px; */

}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 0.5px solid black;
  background: rgba(100, 100, 100, 0.1);
  max-width: 450px;
  width: 100%;
  height: 100%;
}

.grid-item {
  /* background: rgba(0, 0, 0, 0.1); */
  flex-basis: 10%;
  height: 5%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.shape1 {
  /* background: grey; */
  border: 1px solid black;
  /* border: none; */
  /* transition: 1s; */
  opacity: 0.9 !important;
  border-radius: 3px;
}

.shape2 {
  /* background: grey; */
  border: 1px solid black;
  /* border: none; */
  /* transition: 1s; */
  opacity: 0.9 !important;
  border-radius: 3px;
}

.shape-ghost1 {
  border: 1px solid black;
  /* border: none; */
  opacity: 0.25;
  border-radius: 3px;
}

.shape-ghost2 {
  border: 1px solid black;
  /* border: none; */
  opacity: 0.25;
  border-radius: 3px;
}

.shape-inactive {
  background: rgba(0, 0, 0, 0.3);
  /* border: 2px solid black; */
  border: none;
  border-radius: 5px;
}

.completed-row {
  display: none;
  transition: 1s;
}

.message {
  /* display: none; */
  position: absolute;
  margin: 0;
  width: 100%;
  /* height: 50px; */
  height: 0;
  top: calc(47.5% - 50px);
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  z-index: 2;
}

#message1 {
  display: none;
}

#message2 {
  display: none;
}

aside {
  flex-basis: 100%;
  height: 5%;
  margin: 0;
  /* padding: 5px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}

.shape-queue {
  display: none;
}

.score-tile {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-basis: 100%;
}

.score-tile > p {
  margin: 2px auto 0 auto;
}

#player2 {
  display: none;
}

footer {
  flex-basis: 100%;
  height: 3%;
  margin: 0;
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

footer > p {
  /* color: rgba(0, 0, 0, 0.5); */
  margin: 0 auto;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.yellow {
  background: yellow;
}


 /* TABLETS */
@media screen and (min-width: 650px) {
  body {

  }

  main {

  }

  #load-page h1 {
    font-size: 48px;
  }

  #load-page p {
    font-size: 36px;
  }

  #load-page small {
    font-size: 24px;
  }

  #player1 {

  }
  .player-tile {
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .game-board {
    width: auto;
    min-width: 450px;
    flex-basis: auto;
    /* flex: 2; */
    margin-right: 5%;
  }

  #grid1 {
  }

  .message {
    width: 50%;
  }

  aside {
    flex-basis: auto;
    height: auto;
    /* flex: 1; */
    flex-flow: column wrap;
    padding: 10px 5px;
    min-width: 150px;
    max-width: 350px;
  }

  .shape-queue {
    display: flex;
    flex-flow: column wrap;
    /* min-width: 100px; */
    align-items: center;
    padding: 10px;
  }

  .shape-queue > div {
    height: 85px;
    width: 85px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .score-tile {
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  .score-tile > p {

  }

  footer {
  }

  footer > p {
  }
}

/* DESKTOPS */
@media screen and (min-width: 1024px) {
  body {
    /* background: green; */
  }

  .player-tile {
    width: auto;
  }

  .game-board {
    min-width: 360px;
    max-width: 450px;
    margin-left: 0;
    margin-right: 0;
  }

  aside {
    min-width: 115px;
    max-width: 350px;
  }

  #player1 {
    /* margin-right: 2%; */
  }

  #player2 {
    /* margin-left: 2%; */
  }
}
