* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
}

main {
  flex-basis: 100%;
  height: 95%;
  margin: 0;
}

#gameboard1 {
  width: 100%;
  height: 100%;
}

#gameboard2 {
  display: none;
}

#grid1 {
  width: 100%;
  height: calc(95% - 20px);
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  border: 0.5px solid black;
  background: rgba(100, 100, 100, 0.1);
}

.grid-item {
  /* background: rgba(0, 0, 0, 0.1); */
  flex-basis: 10%;
  height: 5%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.shape {
  /* background: grey; */
  /* border: 2px solid black; */
  border: none;
  /* transition: 1s; */
}

.shape-inactive {
  background: rgba(0, 0, 0, 0.2);
  /* border: 2px solid black; */
  border: none;
  border-radius: 2px;
}

.completed-row {
  display: none;
  transition: 1s;
}

.message {
  display: none;
  position: absolute;
  width: 100%;
  height: 50px;
  top: calc(47.5% - 25px);
  text-align: center;
}

aside {
  flex-basis: 100%;
  height: 5%;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.shape-queue {
  display: none;
}

.score-tile {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-basis: 100%;
}

footer {
  flex-basis: 100%;
  height: 5%;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

footer > p {
  color: rgba(0, 0, 0, 0.5);
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.yellow {
  background: yellow;
}
